.brand-text {
  font-family: "Rubik", "Sriracha", cursive;
}

.absolute-top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}

.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
  float: none;
}

form {
  width: 50%;
  margin: auto;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.card {
  width: 22rem;
}


@media (max-width: 360px) {
  .card {
    width: 19rem;
  }
}

@media (min-width: 1000px) {
  .my-masonry-grid {
    margin: 0 5rem;
  }
}